<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="SuppressWarningsFilter" />
    <module name="TreeWalker">
        <!--        1. Annotations-->
        <module name="AnnotationLocation" />
        <module name="AnnotationUseStyle" />
        <module name="MissingDeprecated" />
        <module name="MissingOverride" />
        <module name="SuppressWarnings" />
        <module name="SuppressWarningsHolder" />
        <!--        2. Block Checks-->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="EmptyCatchBlock" />
        <module name="LeftCurly" />
        <module name="NeedBraces" />
        <module name="RightCurly" />
        <!--        3. Class Design-->
        <module name="InnerTypeLast" />
        <module name="InterfaceIsType" />
        <module name="MutableException" />
        <module name="OneTopLevelClass" />
        <module name="ThrowsCount" />
        <!--        4. Coding-->
        <module name="ArrayTrailingComma" />
        <module name="AvoidDoubleBraceInitialization" />
        <module name="AvoidInlineConditionals" />
        <module name="AvoidNoArgumentSuperConstructorCall" />
        <module name="CovariantEquals" />
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="ExplicitInitialization" />
        <module name="FallThrough" />
        <module name="IllegalInstantiation" />
        <module name="IllegalThrows" />
        <module name="IllegalToken" />
        <module name="IllegalTokenText" />
        <module name="IllegalType" />
        <module name="InnerAssignment" />
        <module name="MagicNumber" />
        <module name="MatchXpath" />
        <module name="MissingSwitchDefault" />
        <module name="ModifiedControlVariable" />
        <module name="MultipleStringLiterals" />
        <module name="MultipleVariableDeclarations" />
        <module name="NestedForDepth">
            <property name="max" value="0" />
        </module>
        <module name="NestedIfDepth" />
        <module name="NestedTryDepth" />
        <module name="NoArrayTrailingComma" />
        <module name="NoClone" />
        <module name="NoEnumTrailingComma" />
        <module name="NoFinalizer" />
        <module name="OneStatementPerLine" />
        <module name="OverloadMethodsDeclarationOrder" />
        <module name="PackageDeclaration" />
        <module name="ParameterAssignment" />
        <module name="RequireThis" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration" />
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration" />
        <module name="UnnecessarySemicolonInEnumeration" />
        <module name="UnnecessarySemicolonInTryWithResources" />
        <module name="VariableDeclarationUsageDistance" />
        <!--        6. Imports-->
        <module name="AvoidStarImport" />
        <module name="AvoidStaticImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />
        <!--7. Javadoc comments ignored-->
        <!--        8. Metrics-->
        <module name="BooleanExpressionComplexity" />
        <module name="ClassFanOutComplexity" />
        <module name="CyclomaticComplexity" />
        <module name="JavaNCSS" />
        <module name="NPathComplexity" />
        <!--        9. Miscellaneous-->
        <module name="ArrayTypeStyle" />
        <module name="AvoidEscapedUnicodeCharacters" />
        <module name="CommentsIndentation" />
        <module name="DescendantToken" />
        <module name="NoCodeInFile" />
        <module name="OuterTypeFilename" />
        <module name="TodoComment" />
        <module name="TrailingComment" />
        <module name="UpperEll" />
        <!--        10. Modifiers-->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />
        <!--        11. Naming Conventions-->
        <module name="AbbreviationAsWordInName" />
        <module name="AbstractClassName" />
        <module name="CatchParameterName" />
        <module name="ClassTypeParameterName" />
        <module name="ConstantName" />
        <module name="IllegalIdentifierName" />
        <module name="InterfaceTypeParameterName" />
        <module name="LambdaParameterName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="MethodTypeParameterName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="PatternVariableName" />
        <module name="RecordComponentName" />
        <module name="RecordTypeParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />
        <!--        13. Size Violations-->
        <module name="AnonInnerLength" />
        <module name="ExecutableStatementCount" />
        <module name="MethodCount" />
        <module name="MethodLength" />
        <module name="OuterTypeNumber" />
        <module name="ParameterNumber" />
        <module name="RecordComponentNumber" />
    </module>
    <module name="FileLength" />
    <module name="LineLength">
        <property name="fileExtensions" value="java" />
        <property name="max" value="110" />
    </module>
    <!--        5. Headers-->
    <module name="Header" />
    <module name="RegexpHeader" />
    <module name="NewlineAtEndOfFile" />
    <module name="Translation" />
    <module name="UniqueProperties" />
    <module name="FileTabCharacter" />
</module>
