<form hx-post="/run" hx-target="#list">
    <div class="row">
        <div class="row">
            <div class="input-group">
                <span class="input-group-text">name</span>
                <input name="name" class="form-control" placeholder="task">
                <input class="btn btn-primary" type="submit" value="run" />
            </div>
        </div>
        <div class="input-group">
            <select name="interpreter" class="form-select" aria-label="Default select example">
                <option value="bash">bash</option>
                <option value="ipython">ipython</option>
                <option value="jupyter">jupyter</option>
            </select>
        </div>
        <textarea id="cmd" name="cmd"></textarea>
    </div>
</form>
