<form hx-post="/run" hx-target="#list">
    <div class="row">
        <div class="input-group col">
            <span class="input-group-text">bash -c</span>
            <input class="form-control" id="1" name="cmd" placeholder="echo hello"/>
        </div>
        <div class="input-group col">
            <input class="btn btn-primary" type="submit" value="run" />
        </div>
    </div>
</form>
