<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>pid</th>
        <th>interpreter</th>
        <th>cmd</th>
        <th>copy</th>
        <th>output</th>
        <th>status</th>
        <th>duration</th>
        <th>startedAt</th>
        <th>delete</th>
        <th>retry</th>
        <th>clone</th>
    </tr>
    </thead>
    <tbody>
    {{#tasks}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{pid}}</td>
        <td id="task_interpreter_{{id}}">{{interpreter}}</td>
        <td>
            <pre><code id="task_{{id}}" class="language-python" style="white-space: pre-wrap;word-break:break-word; min-width: {{minWidth}}em">{{cmd}}</code></pre>
        </td>
        <td>
            <button class="btn" data-clipboard-target="#task_{{id}}"><i class="bi bi-clipboard"></i></button>
        </td>
        <td>
            <a href="{{outputUrl}}" target="_blank">{{output}}</a>
        </td>
        <td><span class="badge text-bg-{{badge}}">{{status}}</span></td>
        <td>{{timeStr}}</td>
        <td>{{createdAtSecondStr}}</td>
        <td>
            <button hx-post="/tasks/{{id}}/cancel" hx-target="#list" type="button" class="{{cancelButtonClass}}"><i class="bi bi-c-circle"></i></button>
            <button hx-post="/tasks/{{id}}/kill" hx-target="#list" type="button" class="{{killButtonClass}}"><i class="bi bi-stop-circle-fill"></i></button>
            <button hx-delete="/tasks/{{id}}" hx-target="#list" type="button" class="btn btn-danger" {{disabledDelete}}><i class="bi bi-x-square"></i></button>
        </td>
        <td><button hx-post="/tasks/{{id}}/retry" hx-target="#list" type="button" class="btn btn-primary"><i class="bi bi-repeat"></i></button></td>
        <td><button onclick="clone({{id}})" type="button" class="btn btn-info"><i class="bi bi-file-arrow-up"></i></button></td>
    </tr>
    {{/tasks}}
</table>
