<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>pid</th>
        <th>interpreter</th>
        <th>cmd</th>
        <th>output</th>
        <th>status</th>
        <th>time</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>delete</th>
        <th>retry</th>
        <th>kill</th>
    </tr>
    </thead>
    <tbody>
    {{#tasks}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{pid}}</td>
        <td>{{interpreter}}</td>
        <td>
            <pre><code id="task_{{id}}" class="language-python">{{cmd}}</code></pre>
            <button class="btn" data-clipboard-target="#task_{{id}}"><i class="bi bi-clipboard"></i></button></td>
        <td>
            <a href="/logs?file={{output}}" target="_blank">{{output}}</a>
        </td>
        <td>{{status}}</td>
        <td>{{time}}</td>
        <td>{{createdAt}}</td>
        <td>{{updatedAt}}</td>
        <td><button hx-delete="/tasks/{{id}}" hx-target="#list" type="button" class="btn btn-danger"><i class="bi bi-x-square"></i></button></td>
        <td><button hx-post="/tasks/{{id}}/retry" hx-target="#list" type="button" class="btn btn-primary"><i class="bi bi-repeat"></i></button></td>
        <td><button hx-post="/tasks/{{id}}/kill" hx-target="#list" type="button" class="btn btn-warning"><i class="bi bi-stop-circle-fill"></i></button></td>
    </tr>
    {{/tasks}}
</table>
