<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Local Task</title>
    <script src="/webjars/htmx.org/1.8.4/dist/htmx.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/webjars/bootstrap-icons/1.10.2/font/bootstrap-icons.css"
    />
</head>
<body>
<div style="margin-left: 2em">
    <code hx-get="/api/logs?file={{file}}" hx-trigger="load, every 1s" style="white-space: pre-line;">
    </code>
</div>
</body>
</html>
